/* 마우스 포인터 ------------------------ */
.mousepointer {
    position: fixed;
    width: 20px;
    height: 20px;

    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 11;


    border-radius: 50%;
    border: 1.5px solid;
    /* border-color: difference; */
    background-color: transparent;
    transition: transform 0.2s;
    /* mix-blend-mode:difference; */
}

/* 헤더-------------------------------- */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    /* border: 2px solid black; */
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    padding: 0 5vw;
    background-color: transparent;
    transition: .5s;
}

#main-header.on {
    height: 50px;
    background-color: transparent;
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* box-shadow: 0 5px 5px 1px rgba(255, 255, 255, 0.7); */
}

/* 헤더 로고 */
#main-header .logo {
    text-shadow: -2px -2px 2px rgba(255, 255, 255, 0.7);
}

/* 헤더 메뉴 */
#main-header nav #menu {
    display: flex;
    font-weight: bold;
    gap: 2vw;
}

#main-header nav #menu li.on {
    color: var(--main-color);
}

#main-header #toggle-menu-btn,
#main-header #mobile-toggle-menu {
    display: none;
}



/* 홈섹션 시작 -----------------------------*/
#Home {
    position: relative;
    width: 100vw;
    height: 100vh;
}
#Home #profile {
    position: fixed;
    left: 0;
}


#Home:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#Home article {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    font-size: 3rem;
    line-height: 9rem;
    z-index: 2;
}
#Home article span {
    color: var(--main-color);
}
/* 홈섹션 끝 */

/* about 섹션 ------------------------------*/
#About {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: relative;
}

#About .first-floor {
    width: 100%;
    display: flex;
}

.mask-color-filter {
    background-color: transparent;
}

.profile-clip {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.profile-clip img {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    height: 100%;
}

.eyes {
    position: absolute;
    bottom: 71%;
    right: 30%;
    display: flex;
    transform: rotate(5deg);
}
.eyes .on {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.eyes .on .me {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #000;
}

#About .first-floor .intro {
    width: 50vw;
    height: 100vh;
    color: #000;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20vh 2vw;
    position: relative;
}

#About .first-floor .intro section {
    width: 70%;
    position: relative;
    padding-bottom: 40px;
    padding-top: 20px;
    z-index: 1;
}

#About .first-floor .intro section .section-highlighter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
}

#About .first-floor .intro h2 {
    font-size: 3rem;
}

#About .first-floor .intro p {
    font-size: 2rem;
}
#About .first-floor .intro .about-title {
    position: absolute;
    width: 50vw;
    height: auto;
    background-color: #fff;
    box-shadow: 0px 0px 1000px 100px #fff;
    left: -100%;
    bottom: 17vh;
    font-size: 3rem;
    line-height: 6rem;
    padding-left: 10vw;
}
#About .first-floor .intro .about-title span {
    color: var(--main-color);
}

/* 2층 */
.second-floor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f3f3f3;
}

.second-floor .bar-deco-right {
    position: absolute;
    top: 20vh;
    right: 0;
    width: 40vw;
    height: 40px;
    background-color: #fff;
    display: none;
}

.second-floor .bar-deco-left {
    position: absolute;
    left: 0;
    bottom: 8vh;
    width: 70vw;
    height: 40px;
    background-color: var(--main-color);
}

.second-floor .container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 100vh;
    padding-top: 140px;
}

.second-floor .container .skill-title {
    width: 100%;
    height: 10vh;
    font-size: 3rem;
    display: flex;
    gap: 1vw;
    align-items: center;
}

.second-floor .container .skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.second-floor .container .skill li {
    width: 20%;
    height: 45vh;
    border-radius: 15px;
    padding: 20px;
    background-color: #fff;
}

.second-floor .container .skill li header {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.second-floor .container .skill li .skill-icon {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.second-floor .container .skill li .skill-icon img {
    width: 100%;
    display: block;
}

.second-floor .container .skill li .skill-icon .progress {
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: #fff;
}

.second-floor .container .skill li .skill-icon .progress span {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 1.5rem;
}


.second-floor .container .skill li .skill-name {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 20px;
    position: relative;

}

.second-floor .container .skill li .skill-name:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 60%;
    height: 100%;

    border-bottom: 5px solid var(--main-color);
}

.second-floor .container .skill li .skill-info {
    width: 100%;
    height: 35%;
    font-size: 1.5rem;
    margin-top: 20px;
    position: relative;
}

.second-floor .container .skill li .skill-info:after {
    position: absolute;
    top: 10px;
    right: 0;
    content: "";
    width: 30%;
    height: 100%;

    border-bottom: 5px solid var(--main-color);

}
/* about 섹션 끝*/

/* work 섹션 ---------------------------------*/

#Work {
    width: 100vw;
    height: 100vh;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#Work .work_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 50vh solid transparent;
    border-top: 50vh solid #f3f3f3;
    border-left: 50vw solid #f3f3f3;
    border-right: 50vw solid transparent;
}

/* 워크섹션 네비게이터 */
#Work .work-list {
    width: 70vw;
    height: 20%;
    padding: 0 10vw;
    padding-top: 100px;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9;
    text-align: center;
}

#Work .work-list>li {
    width: 10vw;
    height: auto;
    transition: 0.5s;
    color: #000;
}

#Work .work-list>li:after {
    display: block;
    content: '';
    border-bottom: solid 3px #000;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

#Work .work-list>li:hover:after {
    transform: scaleX(1);
}


#Work .work-list>li:after {
    transform-origin: 0% 50%;
}

#Work .work-list>li.on {
    color: red;
}

/* 워크섹션 작업물  */
#Work .work-contents {
    position: absolute;
    width: 70vw;
    height: 80vh;
    top: 20vh;
    transition: 0.5s;
    opacity: 0;
    display: flex;
    flex-direction: column;
}

#swiper-btn-left {
    margin-top: 25vh;
    margin-left: 25vw;
    padding: 20px;
    color: var(--main-color);
}

#swiper-btn-left:hover {
    transition: .5s;
    transform: translateX(-20%);
}

#swiper-btn-right {
    margin-top: 25vh;
    margin-right: 25vw;
    padding: 20px;
    color: var(--main-color);
}

#swiper-btn-right:hover {
    transition: .5s;
    transform: translateX(20%);
}

#Work .work-contents.hide {
    opacity: 0;
    transform: translateX(10%);
}

#Work .work-contents.on {
    transition: 0.5s;
    opacity: 1;
    z-index: 9;
    transform: translateX(0);
}

#Work .work-contents .container {
    margin-top: 10vh;
    width: 100%;
    position: relative;
}

#Work .work-contents .container .row {
    width: 50vw;
    height: 50vh;
}


/* 상세보기 레이아웃 */
#contents-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 50vh;
    border: 1.5px solid var(--main-color);
    border-radius: 15px;
    background-color: #fff;
    z-index: 9;
}

#contents-wrapper article {
    display: flex;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}

#contents-wrapper article .left-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents-wrapper article .left-side .thumbnail {
    width: 80%;
    height: 100%;
}

#contents-wrapper article .left-side .thumbnail img {
    margin: 0 auto;
    height: 90%;
    display: block;
}

#contents-wrapper article .right-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contents-wrapper article .right-side .work-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contents-wrapper article .right-side .work-info span {
    font-size: 1.5rem;
}

#contents-wrapper article .right-side .work-info span h2 {
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

#contents-wrapper article .right-side .work-info span p {
    white-space: nowrap;
    margin-left: 10px;
}

#contents-wrapper article .right-side .detail-btn-group {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
#readme {
    width: 8vw;
    height: 4vh;
    background-color: var(--main-color);
    border-radius: 10px;
}
#readme a {
    width: 100%;
    height: 100%;
    line-height: 30px;
    display: block;
}

#gotogit {
    width: 8vw;
    height: 4vh;
    background-color: var(--main-color);
    border-radius: 10px;
}
#gotogit a {
    width: 100%;
    height: 100%;
    line-height: 30px;
    display: block;
}

/* 모달창------- */
.modal-shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

.modal-shadow.on {
    display: block;
}

#work-modal {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    height: calc(100vh - 100px);
    background-color: #fff;
    z-index: 10;
    overflow-y: scroll;
}

#work-modal img {
    width: 100%;
    display: none;
}













/* work 섹션 끝*/

#Contact {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #fff;
}

#Contact .thx {
    position: absolute;
    width: 80vw;
    height: 20vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#Contact .thx h1 {
    font-size: 5rem;
}

#Contact .contact-way {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    display: flex;
    gap: 10rem;
    text-align: center;
}

#Contact .contact-way a {
    position: relative;
    width: 10vw;
}

#Contact .contact-way a:after {
    display: block;
    content: '';
    margin-top: 4rem;
    border-bottom: solid 3px var(--main-color);
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

#Contact .contact-way a:last-child:after {
    display: none;
}

#Contact .contact-way>a:hover:after {
    transform: scaleX(1);
}

#Contact .contact-way>a:after {
    transform-origin: 0% 50%;
}

#Contact .contact-way a div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Gowun Batang', serif;
}

#Contact .contact-way a .text-hidden {
    display: none;
    font-family: 'Gowun Batang', serif;
    color: var(--main-color);
}




/* 기타 섹션 */
.etc-site #contents-wrapper article{
    position: relative;
    padding: 0;
}
.etc-site #contents-wrapper article iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.etc-site #contents-wrapper article .detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 5rem;
}
.etc-site #contents-wrapper article .detail a {
    width: 70%;
    height: auto;
}
.etc-site #contents-wrapper article:hover .detail {
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;

}