/* 마우스 포인터 ------------------------ */
.mousepointer {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    transition: transform 0.2s;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 11;
}

/* 헤더-------------------------------- */
#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    /* border: 2px solid black; */
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
    padding: 0 5vw;
    background-color: transparent;
    transition: .5s;
}

#main-header.on {
    height: 70px;
    background-color: rgba(95, 175, 201, 1);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
}

/* 헤더 로고 */
#main-header .logo {
    font-family: 'Gowun Batang', serif;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.7);
}

/* 헤더 메뉴 */
#main-header nav #menu {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    gap: 2vw;
}

#main-header nav #menu li.on {
    /* color: pink; */

    /* background-image: url('../images/profile.jpeg'); */
    background: linear-gradient(blue, pink);
    background-repeat: repeat-y;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

#main-header #toggle-menu-btn,
#main-header #mobile-toggle-menu {
    display: none;
}



/* 홈섹션 시작 -----------------------------*/
#Home {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* background-color: #FCFFE7; */

    background-image: url('../images/profile.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#Home:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#Home article {
    position: absolute;
    right: 0;
    top: 40vh;
    width: 50vw;
    height: 50vh;
    /* outline: 2px solid red; */
    font-size: 5rem;
    color: #fff;
}


/* 홈섹션 끝 */

/* about 섹션 ------------------------------*/
#About {
    width: 100vw;
    height: 200vh;
    /* background-color: #CEFFAF; */
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;

    /* background-image: url('../images/profile.jpeg');
    background-size: contain;
    background-attachment:fixed;
    background-position: left;

    clip-path: circle(27% at 65% 50%); */
}

#About .first-floor {
    width: 100%;
    display: flex;
}

.mask-color-filter {
    /* background-color: #CEFFAF; */
    background-color: transparent;
}

.profile-clip {
    width: 50vw;
    height: 100vh;

    background-image: url('../images/profile.jpeg');
    background-size: contain;
    background-attachment: fixed;
    background-position: left;

    clip-path: circle(27% at 53% 50%);
}

#About .first-floor .intro {
    width: 100vw;
    height: 100vh;
    /* outline: 2px solid red; */
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

#About .first-floor .intro header {
    font-size: 4rem;
    margin-bottom: 20px;

}

#About .first-floor .intro p {
    font-size: 2rem;
}

/* 2층 */
#About .second-floor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#About .second-floor .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60vw;
    height: 100vh;
    padding: 200px 0;
}

#About .second-floor .container .skill-title {
    width: 100%;
    height: 10vh;
    background-color: #fff;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

#About .second-floor .container .skill {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#About .second-floor .container .skill li {
    width: 20%;
    height: 45vh;
    padding: 20px;
    outline: 2px solid black;
}

#About .second-floor .container .skill li header {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    outline: 2px solid black;
}

#About .second-floor .container .skill li .skill-icon {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#About .second-floor .container .skill li .skill-icon img {
    width: 100%;
    display: block;
}

#About .second-floor .container .skill li .skill-icon .progress {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: purple;
}


#About .second-floor .container .skill li .skill-name {
    width: 100%;
    font-size: 2rem;
    margin-top: 20px;
}
#About .second-floor .container .skill li .skill-info {
    width: 100%;
    font-size: 1.5rem;
    margin-top: 20px;
}


/* about 섹션 끝*/

/* work 섹션 ---------------------------------*/

#Work {
    width: 100vw;
    height: 100vh;
    /* background-color: #C9FFF5; */
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
}

/* 워크섹션 네비게이터 */
#Work .work-list {
    width: 20vw;
    height: 40%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#Work .work-list>li {
    width: 10vw;
    height: auto;
    transition: 0.5s;
}

#Work .work-list>li:after {
    display: block;
    content: '';
    border-bottom: solid 3px #ea2129;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

#Work .work-list>li:hover:after {
    transform: scaleX(1);
}


#Work .work-list>li:after {
    transform-origin: 0% 50%;
}

#Work .work-list>li.on {
    color: red;
}

/* 워크섹션 작업물  */
#Work .work-contents {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 80vw;
    height: 100%;
    padding: 0 5vw;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
}

#Work .work-contents.hide {
    opacity: 0;
    transform: translateX(10%);
}

#Work .work-contents.on {
    transition: 0.5s;
    opacity: 1;
    z-index: 5;
    transform: translateX(0);
}

#Work .work-contents .container {
    margin-top: 150px;
    width: 100%;
    position: relative;
}

#Work .work-contents .container .row {
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

/* 상세보기 레이아웃 */
#contents-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 70vh;
    background-color: #fff;
    z-index: 10;
}

#contents-wrapper header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#contents-wrapper header #close {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 50px;
    display: none;
}

#contents-wrapper article {
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
}

#contents-wrapper article .left-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contents-wrapper article .left-side .thumbnail {
    width: 80%;
    height: 100%;
    outline: 1px solid red;
}

#contents-wrapper article .left-side .thumbnail img {
    margin: 0 auto;
    width: 80%;
    display: block;
}

#contents-wrapper article .right-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contents-wrapper article .right-side .work-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contents-wrapper article .right-side .work-info span {
    font-size: 1.5rem;
}

#contents-wrapper article .right-side .work-info span h2 {
    font-size: 2.5rem;
}

#contents-wrapper article .right-side .work-info span p {
    white-space: nowrap;
}

#contents-wrapper article .right-side .detail-btn-group {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}


#Work .work-contents .con {
    width: 20vw;
    height: 40vh;
    outline: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Work .work-contents .con .detail {
    width: 100%;
    display: none;
    text-align: center;
    font-size: 2rem;
}

#Work .work-contents .con:hover {
    background-color: rgba(0, 0, 0, 0.406);
}

#Work .work-contents .con:hover .detail {
    display: block;
}

/* 모달창------- */
.modal-shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9;
}

.modal-shadow.on {
    display: block;
}

#work-modal {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateX(-50%);
    transform: translateY(-50%);
    width: 70vw;
    height: 70vh;
    background-color: #fff;
    z-index: 10;
}

#work-modal header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: right;
    align-items: center;
}

#close {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 50px;
}

#work-modal article {
    display: flex;
    width: 100%;
    height: calc(100% - 70px);
}

#work-modal article .left-side {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#work-modal article .left-side .thumbnail {
    width: 80%;
    height: 100%;
    outline: 1px solid red;
}

#work-modal article .left-side .thumbnail img {
    margin: 0 auto;
    width: 80%;
    display: block;
}

#work-modal article .right-side {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#work-modal article .right-side .work-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#work-modal article .right-side .work-info span {
    font-size: 1.5rem;
}

#work-modal article .right-side .work-info span h2 {
    font-size: 2.5rem;
}

#work-modal article .right-side .work-info span p {
    white-space: nowrap;
}

#work-modal article .right-side .detail-btn-group {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}











/* work 섹션 끝*/

#Contact {
    width: 100vw;
    height: 100vh;
    /* border: 30px solid pink; */
    position: relative;
    /* z-index: 1; */
    /* background-image: url('../4907157.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
}

#Contact .particle-back {
    position: absolute;
    top: 0;
    left: 0;
}

#Contact .thx {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    white-space: nowrap;
}

#Contact .thx h1 {
    margin-top: 2rem;
    font-size: 5rem;
}

#Contact .contact-way {
    font-family: 'Josefin Sans', sans-serif;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    display: flex;
    gap: 10rem;
    text-align: center;
}

#Contact .contact-way a {
    position: relative;
    width: 10vw;
}

#Contact .contact-way a:after {
    display: block;
    content: '';
    margin-top: 4rem;
    border-bottom: solid 3px #000;
    transform: scaleX(0);
    transition: transform .5s ease-in-out;
}

#Contact .contact-way a:last-child:after {
    display: none;
}

#Contact .contact-way>a:hover:after {
    transform: scaleX(1);
}

#Contact .contact-way>a:after {
    transform-origin: 0% 50%;
}

#Contact .contact-way a div {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#Contact .contact-way a .text-hidden {
    display: none;
    font-family: 'Gowun Batang', serif;
}