* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.285;
    scroll-behavior: smooth;
    font-family: 'Gowun Batang', serif;
    /* font-family: 'Josefin Sans', sans-serif; */
}

body {}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.wrap {
    width: 100vw;
    overflow: hidden;
}
button {
    background-color: transparent;
    border-style: none;
}

.mousepointer {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    position: fixed;
    border-radius: 50%;
    top: 0;
    left: 0;

}

