* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.285;
    scroll-behavior: smooth;
    font-family: 'Gowun Batang', serif;
    /* font-family: 'Josefin Sans', sans-serif; */
    cursor: none;
}

body {}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 100vw;
    overflow: hidden;
}

button {
    background-color: transparent;
    border-style: none;
}

.github {
    width: 30px;
}
.github:hover {
    animation-name: git-rolling;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes git-rolling {

    100% {
        transform: rotate(360deg);
    }
}

#readme {
    width: 200px;
    height: 30px;
    background-color: #ccc;
    border-radius: 10px;
}
#readme a {
    width: 100%;
    height: 100%;
    line-height: 30px;
    display: block;
}

#gotogit {
    width: 200px;
    height: 30px;
    background-color: #ccc;
    border-radius: 10px;
}
#gotogit a {
    width: 100%;
    height: 100%;
    line-height: 30px;
    display: block;
}








/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    z-index: -1;
}

/* ---- stats.js ---- */


#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}




#prev {
    width: 150px;
    height: 50px;
    background-color: pink;
}
#next {
    width: 150px;
    height: 50px;
    background-color: pink;
}